<h1>Genre List</h1>

<table border="1",  class="table">
	<tr>
		<th> Name </th>
		<th> Options </th>

	</tr>
	<% @genres.each do |g| %>
		<tr>
			<td> <%= g.name %> </td>
			<td> <%= link_to "Edit" , edit_genre_path(g) %> |
			<%= link_to "Show" , genre_path(g) %>|
			<%= link_to "Delete" , genre_path(g), :confirm => "¿Estas eguro?", :method => :delete%>
			</td>
		</tr>

		<% end %>
	</table>
  <button><%= link_to "New" , new_genre_path %></button>
  <button><%= link_to "Back" , :controller => "home", :accion => "index" %></button>
