
    <h2><%= @genre.name %></h2>


<h3>Songs </h3>

<table border="1" class="table">
	<tr>
		<th> Album </th>
		<th> Artist </th>
		<th> Name </th>	
		<th> Song </th>
		<th> Options </th>
		
	</tr>
	<% @genre.songs.each do |song| %>
		<tr>
			<td><%= song.album_name %></td>
		    <td><%= song.artist_name %></td>
			<td><%= song.song_name %> </td>
			<td><audio src="<%= song.attachment_url %>" type="audio/mpeg" controls></audio></td>
			<td><button style="background-color:#6B2414;"><%= link_to 'Eliminar Cancion', genre_song_path(@genre, song),
               :method => :delete,
               :data => { :confirm => '¿Estás seguro?' } %></button>
				</td>
           </tr>
   <% end %>
</table>		

<h3>Add a Song:</h3>
<%= form_for([@genre, @genre.songs.build]) do |s| %>

<p>
 <%= s.label "Album" %>
 <%= s.text_field :album_name %>
</p>
<p>
<%= s.label "Artist" %>
 <%= s.text_field :artist_name %>
</p>
<p>
  <%= s.label "Name" %>
 <%= s.text_field :song_name %>
</p>
<p>
  <%= s.label "Attachment" %>
 <%= s.file_field :attachment %>
</p>

 <%= s.submit "Save"  %>

<%end%> <br>
<h4><button style="background-color:#6B2414;"> <%= link_to "Edit", edit_genre_path(@genre) %> | <%= link_to "Back", genres_path %></button></h4>




