<h1>New Genre</h1>

<%= form_for @genre, html: { multipart: true } do |g| %>
<% if @genre.errors.any? %>
  <% @genre.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<p>
 <%= s.label "Name" %>
 <%= s.text_field :name %>
</p>

 <%= s.submit "Save"  %>

<% end %>
