<h1>Songs List</h1>

<table border="1">
	<tr>
		<th>Name</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Attachment</th>
		<th>Options</th>
		


	</tr>
	<% @songs.each do |s| %>
		<tr>
			<td><%= s.song_name %></td>
			<td><%= s.artist_name %></td>
			<td><%= s.album_name %></td>
			<td><%= link_to "Play ",s.attachment_url %></td>
			<td><%= link_to "Edit" , edit_song_path(s) %>
				<%= link_to "Show" , song_path(s) %>
				<%= link_to "Delete" , song_path(s), :confirm => "¿Estas eguro?", :method => :delete%>
			</td>
		

			</td>
			
		</tr>
					
		<% end %>
	</table>


<button><%= link_to "New" , new_song_path %></button>
