<h1>New</h1>

<%= form_for @song, html: { multipart: true } do |s| %>
<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<p>
 <%= s.label "Name" %>
 <%= s.text_field :song_name %>
</p>
<p>
<%= s.label "Artist" %>
 <%= s.text_field :artist_name %>
</p>
<p>
  <%= s.label "Album" %>
 <%= s.text_field :album_name %>
</p>
<p>
  <%= s.label "Attachment" %>
 <%= s.file_field :attachment %>
</p>
 <%= s.submit "Save"  %>

<%end%>
<br>
<button><%= link_to "Back" , songs_path %></button>
<button><%= link_to "Salir", destroy_user_session_path, method: :delete %></button>
